:root {
  --screen-background-color: #555;
  --border-color: #515151;
  --border-radius: 10px;
  --container-background-color: #ffffffcc;
  --left-text-color: #1da1f2;
  --left-heading-color: #1da1f2;
  --right-text-color: #1da1f2;
  --right-heading-color: #1da1f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.screen {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Cabin", sans-serif;
  background: var(--screen-background-color);
}

.container {
  width: 30vw;
  min-width: 400px;
  height: 80vh;
  background: var(--container-background-color);
  border: var(--border-color) 2px solid;
  border-radius: var(--border-radius);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.container .login-heading {
  font-size: 4rem;
  color: var(--left-heading-color);
  text-align: center;
}

.form-group {
  margin: 0 auto;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 16px;
}

input[type="text"],
input[type="password"] {
  display: block;
  width: 400px;
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
}

.error {
  color: red;
  font-size: 14px;
}

button[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: #0069d9;
}

/* .container .input-container {
  position: relative;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .input-container .input-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.container .input-container label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  color: var(--left-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

.container .input-box:active ~ label {
  top: -20px;
}

.container .left p {
  font-size: 1.5rem;
  color: var(--left-text-color);
  text-align: left;
  margin: 1rem;
}

.container .left .text .button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.left .button-group .btn {
  background: #515151;
  color: var(--left-text-color);
  border: 1px solid var(--left-text-color);
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.container .right {
  background: var(--right-background-color);
  padding: 20px;
  border-radius: var(--border-radius);
}

.right #login {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 10px;
}

.right input {
  width: 100%;
  height: 100%;
  background: var(--left-background-color);
  color: var(--right-text-color);
  border: none;
  font-size: 1rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.container .right .btn {
  background: var(--right-background-color);
  color: var(--right-text-color);
  border: 1px solid var(--right-text-color);
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
} */
