:root {
  --screen-background-color: rgb(249 250 251);
  --border-color: rgb(243 244 246);
  --border-radius: 10px;
  --container-background-color: rgb(249 250 251);
  --left-text-color: #1da1f2;
  --left-heading-color: #1da1f2;
  --right-text-color: #1da1f2;
  --right-heading-color: #1da1f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.screen {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Cabin", sans-serif;
  background: var(--screen-background-color);
}

.loginSuccess {
  background: var(--container-background-color);
  width: 30vw;
  min-width: 400px;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  gap: 20px;
  padding: 15px;
  text-align: center;
}

.loginSuccess .heading {
  font-size: 2rem;
  color: var(--left-heading-color);
  text-align: center;
}

.login-message {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.loginSuccess .close {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
}
#login {
  width: 100%;
}

.background_main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px;
  pointer-events: none;
}

.background_main::before {
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%);
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.background_content {
  height: -moz-fit-content;
  height: fit-content;
  z-index: 3;
  max-width: 640px;
  background-image: radial-gradient(at 27% 37%, #3a8bfd 0, transparent 0),
    radial-gradient(at 97% 21%, #72fe7d 0, transparent 50%),
    radial-gradient(at 52% 99%, #fd3a4e 0, transparent 50%),
    radial-gradient(at 10% 29%, #855afc 0, transparent 50%),
    radial-gradient(at 97% 96%, #e4c795 0, transparent 50%),
    radial-gradient(at 33% 50%, #8ca8e8 0, transparent 50%),
    radial-gradient(at 79% 53%, #eea5ba 0, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
}

.container {
  width: 24vw;
  min-width: 400px;
  height: 50vh;
  z-index: 10;
  gap: 50px;
}

.formTitle {
  background-color: #fff;
  padding: 2rem 3rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom: 1px solid rgb(229 231 235);
}

.loginForm {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
  background: var(--container-background-color);
  border: var(--border-color) 1px solid;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.signUp {
  font-size: 14px;
}

.input-container {
  width: 100%;
}

.login-msg {
  text-align: center;
  font-size: 1rem;
}

.container .login-heading {
  font-size: 2rem;
  font-weight: 600;
  color: var(--left-heading-color);
  text-align: center;
}

.strong {
  font-weight: 700;
}

.form-group {
  margin: 0 auto;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: rgb(75 85 99);
}

input[type="text"],
input[type="password"] {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 14px;
  border-radius: 0.375rem;
  line-height: 1.25rem;
  border: 1px solid rgb(209 213 219);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.password-box {
  position: relative;
}

.password-icons {
  position: absolute;
  font-size: 18px;
  right: 10px;
  top: 50%;
  transform: translateY(-40%);
  cursor: pointer;
}

.error {
  color: red;
  font-size: 14px;
}

button[type="submit"] {
  background-color: #007bff;
  color: white;
  border-radius: 0.375rem;
  height: 2.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.2s ease-in-out;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: #0069d9;
}

.fade-out {
  animation: fade-out 2s forwards;
  -webkit-animation: fade-out 2s forwards;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* .container .input-container {
  position: relative;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .input-container .input-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.container .input-container label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  color: var(--left-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

.container .input-box:active ~ label {
  top: -20px;
}

.container .left p {
  font-size: 1.5rem;
  color: var(--left-text-color);
  text-align: left;
  margin: 1rem;
}

.container .left .text .button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.left .button-group .btn {
  background: #515151;
  color: var(--left-text-color);
  border: 1px solid var(--left-text-color);
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.container .right {
  background: var(--right-background-color);
  padding: 20px;
  border-radius: var(--border-radius);
}

.right #login {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 10px;
}

.right input {
  width: 100%;
  height: 100%;
  background: var(--left-background-color);
  color: var(--right-text-color);
  border: none;
  font-size: 1rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.container .right .btn {
  background: var(--right-background-color);
  color: var(--right-text-color);
  border: 1px solid var(--right-text-color);
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
} */
